@import '../../../../variables';

.wrapper {
  height: @height-top-menu;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.avt {
  span {
    font-size: 1.15em;
    font-family: @font-family-accent;
  }
}

.sign-out {
  cursor: pointer;
  font-size: 1.1em;
}

@media only screen and (max-width: @largestMobileScreen) {
  .wrapper {
    padding-right: 2em;
  }
}

.menu-user {
  padding: 0.4em 0 !important;
}

.divider {
  margin: 0.3em 0 !important;
}
