<form class="ui form container" [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
  <!-- Name -->
  <div class="field" [ngClass]="{
      error:
        isFormSubmitted &&
        (userProfileForm.controls.firstName.errors ||
          userProfileForm.controls.lastName.errors)
    }">
    <label for="firstNameNormalUser">Name *</label>
  </div>

  <div class="two fields">
    <!-- First name -->
    <div class="field" [ngClass]="{
        error: isFormSubmitted && userProfileForm.controls.firstName.errors
      }">
      <input type="text" formControlName="firstName" id="firstNameNormalUser" placeholder="First Name" />
      <span class="error text" *ngIf="
          isFormSubmitted &&
          userProfileForm.controls.firstName.errors &&
          userProfileForm.controls.firstName.errors.required
        ">First
        name required.</span>
    </div>

    <!-- Last name -->
    <div class="field" [ngClass]="{
        error: isFormSubmitted && userProfileForm.controls.lastName.errors
      }">
      <input type="text" formControlName="lastName" id="lastNameNormalUser" placeholder="Last Name" />
      <span class="error text" *ngIf="
          isFormSubmitted &&
          userProfileForm.controls.lastName.errors &&
          userProfileForm.controls.lastName.errors.required
        ">Last
        name required.</span>
    </div>
  </div>

  <!-- Birth date -->
  <div class="field" [ngClass]="{
      error: isFormSubmitted && userProfileForm.controls.birthDate.errors
    }">
    <label class="large" for="birthDateNormal">Birthdate *</label>
    <input type="date" formControlName="birthDate" id="birthDateNormal" placeholder="Birth date" />
    <span class="error text" *ngIf="
        isFormSubmitted &&
        userProfileForm.controls.birthDate.errors &&
        userProfileForm.controls.birthDate.errors.required
      ">Birthdate
      required.</span>
  </div>

  <!-- Phone -->
  <label for="phone">Phone number **</label>
  <div class="field">
    <input formControlName="phone" type="text" name="phone" id="phone" />
  </div>

  <!-- Interest -->
  <label for="interests">Interests</label>
  <div class="field">
    <input formControlName="interests" type="text" name="interests" id="interests" />
  </div>
  <app-badge-group [tags]="userProfileForm.controls.interests.value"></app-badge-group>

  <!-- Education details -->
  <label for="education">Education details</label>
  <div class="field">
    <textarea formControlName="educationalExperience" maxlength="500" rows="5" id="education"></textarea>
  </div>

  <!-- Work Experience -->
  <label for="workExperience">Work Experience</label>
  <div class="field">
    <textarea formControlName="workExperience" maxlength="500" rows="4" id="workExperience"></textarea>
  </div>

  <!-- Newsletter -->
  <div class="field">
    <sui-checkbox formControlName="newsletter" id="newsletter">Subscribe to newsletter? You will recieve mails when a new job matching your interests is
        found.</sui-checkbox>
  </div>

  <div class="field">* Field is required</div>
  <div class="field">
    ** Phone number and e-mail will not be displayed on your public profile,
    only to your employer after your application has been accepted
  </div>

  <!-- Submit button -->
  <button class="ui primary submit button" id="isFormSubmitted">Submit</button>
</form>