<div class="ui padded container">
  <h2 class="ui dividing header">Similar jobs</h2>
  <div class="ui four column stackable grid container" *ngIf="job">
    <div
      class="eight wide tablet four wide computer column"
      *ngFor="let job of similarJobList"
    >
      <div class="ui card" routerLink="/jobs/{{job.id}}">
        <div class="content">
          <img
            class="ui centered circular image"
            [src]="job.employer.photoUrl"
          />
          <p class="employer-name">{{ job.employer.displayName }}</p>
        </div>
        <div class="extra content">
          <h2>{{ job.title }}</h2>
        </div>
      </div>
    </div>
  </div>
  <p *ngIf="similarJobList.length == 0" class="empty">
    There are no similar jobs at the moment
  </p>
</div>
