<div class="contanier" *ngIf="job">
  <div
    class="ui middle aligned animated list"
    *ngFor="let job of similarJobList"
  >
    <div class="item" routerLink="/jobs/{{job.id}}">
      <img class="ui avatar image" [src]="job.employer.photoUrl" />
      <h3>{{ job.title }}</h3>
      <div class="content">
        <div class="header">{{ job.employer.displayName }}</div>
      </div>
    </div>
  </div>
  <div *ngIf="similarJobList.length == 0" class="empty">
    There are no similar jobs at the moment
  </div>
</div>
