<form>
  <div class="ui form">
    <div class="field">
      <label for="title">Title*</label>
      <input
        [(ngModel)]="job.title"
        class="form-control"
        type="text"
        name="title"
        id="title"
        placeholder="Job title"
        #title="ngModel"
        required
      />
    </div>
    <div
      *ngIf="title.invalid && (title.dirty || title.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="title.errors.required">Job title is required.</div>
    </div>

    <div class="field">
      <label for="city">City*</label>
      <sui-select
        class="selection"
        [(ngModel)]="job.city"
        [optionsLookup]="optionsLookupCity"
        labelField="label"
        valueField="value"
        [isSearchable]="true"
        name="city"
        id="city"
        placeholder="City"
        #searchSelect
        #city="ngModel"
        required
      >
        <sui-select-option
          *ngFor="let o of searchSelect.filteredOptions"
          [value]="o"
          >{{ o | json }}</sui-select-option
        >
      </sui-select>
    </div>
    <div
      *ngIf="city.invalid && (city.dirty || city.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="city.errors.required">City is required.</div>
    </div>

    <div class="field">
      <label for="description">Job description*</label>
      <quill-editor
        [(ngModel)]="job.description"
        name="description"
        id="description"
        placeholder="Job description"
        #description="ngModel"
        required
      ></quill-editor>
    </div>
    <div
      *ngIf="description.invalid && (description.dirty || description.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="description.errors.required">
        Job description is required.
      </div>
    </div>

    <div class="field">
      <label for="requirements">Requirements*</label>
      <textarea
        [(ngModel)]="job.requirements"
        name="requirements"
        id="requirements"
        placeholder="Requirements"
        #requirements="ngModel"
        required
      ></textarea>
    </div>
    <div
      *ngIf="
        requirements.invalid && (requirements.dirty || requirements.touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="requirements.errors.required">
        Requirements field is required.
      </div>
    </div>

    <div class="field">
      <label for="period">Period*</label>
      <input
        [(ngModel)]="job.period"
        type="text"
        name="period"
        id="period"
        placeholder="Period"
        #period="ngModel"
        required
      />
    </div>
    <div
      *ngIf="period.invalid && (period.dirty || period.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="period.errors.required">Period is required.</div>
    </div>

    <div class="field">
      <label for="salary">Salary</label>
      <input
        [(ngModel)]="job.salary"
        type="text"
        name="salary"
        id="salary"
        placeholder="Salary"
      />
    </div>

    <div class="field">
      <label for="tags">Tags</label>
      <input
        [(ngModel)]="tags"
        type="text"
        name="tags"
        id="tags"
        placeholder="Tags"
      />
    </div>
    <app-badge-group [tags]="tags"></app-badge-group>

    <div class="field">* Field is required</div>

    <button class="ui primary button" (click)="addJob()">
      Add job listing
    </button>
  </div>
</form>
