@import '../../../../variables';

.grid {
  .column {
    &:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 2em;
      padding-right: 3em;
      border-right: 1px solid @light-border;
      border-bottom: 0;

      .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }

      .upload-button {
        font-size: 1.15em;
        font-weight: 700;
        padding: 0.78571429em 1.5em 0.78571429em;
        color: white;
        background-color: @primary-color-buttons;
        display: inline-block;
        border-radius: 4px;
        cursor: pointer;

        * {
          vertical-align: middle;
        }

        i {
          margin-right: 0.4em;
        }

        &:hover {
          background-color: @primary-color-buttons-darken;
        }
      }

      .image {
        max-width: 240px;
        position: relative;

        &:hover {
          img {
            transform: scale(1.1);
          }

          .overlay {
            opacity: 1;
          }
        }

        img {
          cursor: pointer;
          transition: 0.3s ease;
        }

        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: 0.3s ease;
          background-color: rgba(0, 0, 0, 0.4);
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          i {
            color: white;
            font-size: 5em;
          }
        }
      }

      .ui.progress {
        max-width: 240px;
        width: 100%;
      }

      .image-error {
        margin-bottom: -1em;
      }

      h2 {
        text-align: center;
        font-family: @font-family-accent;
        margin-top: 1.5em;
        font-weight: 500;
      }

      .divider {
        width: 100%;
      }

      .cv-message {
        font-size: 1.2em;
        text-align: center;
        font-weight: bold;
        position: relative;

        * {
          vertical-align: middle;
        }

        i {
          margin-left: 0.5em;
          color: @dark-color;
          font-size: 1.8em;
          cursor: pointer;

          &:hover {
            color: @primary-color;
          }
        }
      }
    }

    &:nth-of-type(2) {
      padding-left: 3em;
    }
  }
}

@media only screen and (max-width: @largestMobileScreen) {
  .ui.stackable.grid {
    .wide.column {
      padding-left: 0 !important;
      padding-right: 0 !important;

      &:nth-of-type(1) {
        padding-top: 0;
        border-bottom: 1px solid @light-border;
        border-right: 0;
        padding-bottom: 2em !important;
      }

      &:nth-of-type(2) {
        padding-top: 2em !important;
      }
    }
  }
}
