<ng-container *ngIf="(user$ | async) as user">
  <div class="ui stackable grid">
    <div class="six wide column">
      <div class="ui circular image">
        <img src="{{ user.photoUrl }}" alt="Profile picture" />
        <input
          type="file"
          name="photoFile"
          id="photoFile"
          class="inputfile"
          (change)="uploadPhoto($event)"
        />
        <label for="photoFile" class="overlay">
          <i class="material-icons">add_a_photo</i>
        </label>
      </div>

      <sui-progress
        class="tiny indicating"
        *ngIf="uploadPercentImage"
        [value]="uploadPercentImage | async"
      ></sui-progress>

      <div class="ui error message image-error" *ngIf="imageError">
        <div class="header">The image you submitted is invalid.</div>
        <ul class="list">
          <li>The image format has to be one of .jpg, .jpeg or .png</li>
          <li>The image has to be a square</li>
          <li>The image has to be at least 240px wide/tall</li>
          <li>The image needs to be less than 300kb</li>
        </ul>
      </div>

      <h2>{{ user.displayName }}</h2>

      <div class="ui divider"></div>

      <p class="cv-message" *ngIf="!user.cvUrl; else userCv">
        You currently have no CV uploaded.
      </p>
      <ng-template #userCv>
        <p class="cv-message">
          <a href="{{ user.cvUrl }}" target="_blank"
            >Download your current cv</a
          >
          <i
            class="material-icons"
            suiPopup
            popupText="Delete this cv"
            popupPlacement="bottom"
            >delete</i
          >
        </p>
      </ng-template>

      <sui-progress
        class="tiny indicating"
        *ngIf="uploadPercentCv"
        [value]="uploadPercentCv | async"
      ></sui-progress>

      <input
        type="file"
        name="cvFile"
        id="cvFile"
        class="inputfile"
        (change)="uploadCv($event)"
      />
      <label for="cvFile" class="upload-button">
        <i class="material-icons">publish</i><span>Upload CV</span>
      </label>

      <div class="ui error message" *ngIf="cvError">
        <div class="header">The cv you submitted is invalid.</div>
        <ul class="list">
          <li>The cv format has to be .pdf</li>
          <li>The cv needs to be less than 5MB</li>
        </ul>
      </div>
    </div>
    <div class="ten wide column">
      <app-create-profile-employer
        *ngIf="user.userProfile.userType === employerType"
        [user]="user"
        (afterUpdate)="updateCallback($event)"
      >
      </app-create-profile-employer>

      <app-create-profile-employee
        *ngIf="user.userProfile.userType === employeeType"
        [user]="user"
        (afterUpdate)="updateCallback($event)"
      >
      </app-create-profile-employee>
    </div>
  </div>
</ng-container>
