<ng-container *ngIf="(user$ | async) as user">
  <div class="ui padded container my-grid">
    <div class="column">
      <img
        src="{{ user.photoUrl }}"
        alt="user avatar"
        class="ui avatar image top spaced"
      />
      <h1 class="username">{{ user.displayName }}</h1>

      <div class="rating-div">
        <sui-rating
          class="ui massive star rating"
          [(ngModel)]="averageReview"
          [maximum]="5"
          (ngModelChange)="addReview()"
          [isReadonly]="isRatingReadonly"
          suiPopup
          popupText="Leave a review for {{ user.displayName }}"
          popupTrigger="manual"
          popupPlacement="bottom"
          #popup="suiPopup"
        ></sui-rating>
        <div class="ui yellow circular label">{{ averageReview }}</div>
      </div>

      <ng-container *ngIf="(loggedUser$ | async)">
        <ng-container *ngIf="showUserDetails">
          <h3><i class="material-icons">mail</i>{{ user.email }}</h3>
          <h3 *ngIf="user.userProfile.phone" class="bottom spaced more">
            <i class="material-icons">phone</i>{{ user.userProfile.phone }}
          </h3>
        </ng-container>
      </ng-container>

      <a
        *ngIf="user.cvUrl"
        href="{{ user.cvUrl }}"
        target="_blank"
        class="ui primary button download-cv"
      >
        <i class="material-icons"> attach_file </i><span>Download CV</span>
      </a>

      <div *ngIf="user.userProfile.aboutCompany" class="employerDiv">
        <div class="ui divider"></div>
        <!-- <h2 class="ui header">About the company</h2> -->
        <p>{{ user.userProfile.aboutCompany }}</p>
      </div>
    </div>
    <ng-container *ngIf="user.userProfile.userType === employeeUserType">
      <div class="divider"></div>
      <div class="second column">
        <ng-container *ngIf="user.userProfile.tags">
          <h2 class="ui header">Interests</h2>
          <div class="ui divider"></div>
          <app-badge-group [tagLst]="user.userProfile.tags"></app-badge-group>
        </ng-container>

        <ng-container *ngIf="user.userProfile.workExperience">
          <h2 class="ui header spaced">Work experience</h2>
          <div class="ui divider"></div>
          <p>{{ user.userProfile.workExperience }}</p>
        </ng-container>

        <ng-container *ngIf="user.userProfile.educationalExperience">
          <h2 class="ui header spaced">Education</h2>
          <div class="ui divider"></div>
          <p>{{ user.userProfile.educationalExperience }}</p>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div class="ui padded container">
    <ng-container *ngIf="(reviews$ | async) as reviews">
      <app-user-reviews
        [reviews]="reviews"
        [username]="user.displayName"
      ></app-user-reviews>
    </ng-container>
  </div>
</ng-container>
