@import '../../../../variables';

.wrapper {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100%;
  width: 100%;

  .main-menu {
    height: 100%;
    border-radius: 0;
    min-width: 20rem;
    border-top: 0;
    border-bottom: 0;

    background-image: radial-gradient(
      darken(@primary-color, 25%),
      darken(@primary-color, 40%)
    );
    background-size: 200%;

    .item {
      display: flex;
      align-items: center;
      font-size: 1.1em;
      border-radius: 0;
      padding: 1.6em 2em;
      transition: 0.2s all ease;
      border-right-width: 0px;
      border-right-color: @primary-color;
      border-right-style: solid;

      .icon {
        float: none;
        margin-right: 1em;
        font-size: 1.4em;
      }
    }

    .active,
    .item:hover {
      border-right-width: 6px;
      background-color: initial;
    }
  }

  .content {
    flex-grow: 1;
    height: 100%;
    padding: 2em 3em;
  }
}
