<div class="content-wrapper" *ngIf="(user$ | async) as user">
  <nav class="ui vertical inverted menu main-menu" [class.closed]="!isMenuOpen">
    <a class="ui label" (click)="isMenuOpen = !isMenuOpen">
      <i class="angle big left icon" [class.rotate]="!isMenuOpen"></i>
    </a>
    <a
      class="item"
      *ngFor="let menuItem of menuItems"
      [routerLink]="menuItem.link(user)"
      routerLinkActive="active"
    >
      <i class="{{ menuItem.icon }} icon"></i> {{ menuItem.text }}
    </a>
  </nav>
  <section class="content">
    <router-outlet name="dashboard"></router-outlet>
  </section>
</div>
