<div class="content-wrapper" *ngIf="(user$ | async) as user">
  <nav class="ui vertical inverted menu main-menu" [class.closed]="!isMenuOpen">
    <a class="ui label" (click)="isMenuOpen = !isMenuOpen">
      <i class="angle big left icon" [class.rotate]="!isMenuOpen"></i>
    </a>

    <img
      src="{{ user.photoUrl }}"
      alt="User avatar"
      class="ui avatar image"
      suiPopup
      popupText="Check your public profile"
      popupPlacement="right"
      (click)="navigateToUserProfile(user.uid)"
    />
    <a class="username">{{ user.displayName }}</a>

    <ng-container *ngFor="let menuItem of menuItems">
      <a
        class="item"
        [routerLink]="menuItem.link(user)"
        *ngIf="
          menuItem.userType != undefined
            ? user.userProfile.userType === menuItem.userType
            : true
        "
        routerLinkActive="active"
      >
        <i class="material-icons">{{ menuItem.icon }}</i>
        <span>{{ menuItem.text }}</span>
      </a>
    </ng-container>
  </nav>
  <section class="content">
    <router-outlet name="dashboard"></router-outlet>
  </section>
</div>
