<header *ngIf="job">
  <div class="ui container">
    <h5 class="ui inverted header">
      Published date: {{ job.publishedDate.toDate() | date: medium }}
    </h5>
    <h1 class="ui inverted header">{{ job.title }}</h1>
    <h4 class="ui inverted header location" *ngIf="job.city">
      <i class="material-icons">location_on</i> <span>{{ job.city }}</span>
    </h4>
    <h4 class="ui inverted header">{{ job.employer.displayName }}</h4>
  </div>
</header>

<div class="vertical spaced">
  <app-job-description
    *ngIf="job"
    [job]="job"
    [hasApply]="!applyDisabled && !isEmployer"
    (onApply)="handleApply()"
    [message]="applyDisabled ? 'You already applied for this job!' : null"
  ></app-job-description>
</div>
<app-job-applications-list
  *ngIf="isUserTitularOfTheJob"
  [job]="job"
></app-job-applications-list>
<app-job-similar *ngIf="job" [job]="job"> </app-job-similar>
