@import '../../../../variables';

header {
  background-image: url(http://akveo.com/blur-admin/assets/img/blur-bg-blurred.jpg);
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  padding: 5em 0;

  h5 {
    color: rgba(255, 255, 255, 0.8) !important;
    font-family: @font-family-accent;
    font-weight: 500;
  }

  h4 {
    font-family: @font-family-accent;
    margin-top: 1em;
    font-size: 1.3em;
    font-weight: 500;
  }

  h1 {
    font-family: @font-family-accent;
    font-weight: 500;
    font-size: 2.8em !important;
  }

  .location {
    color: rgba(255, 255, 255, 0.95) !important;
    margin: 1em 0;

    span {
      font-family: @font-family-accent;
      font-weight: 500;
      margin-left: 8px;
      font-size: 22px;
    }

    .material-icons {
      margin-left: -3px;
    }

    * {
      vertical-align: middle;
    }
  }
}

.app-job-description {
  margin-bottom: 1em;
}

.vertical.spaced {
  margin-top: 3em !important;
  margin-bottom: 4em !important;
}
