.ui.button.bigselect {
  width: 100%;
  height: 450px;
}

.ui.form.center.container {
  width: 60%;
}

.back-button {
  display: flex;
  justify-content: flex-end;
}

.error.text {
  color: #9f3a38;
}
