<div class="content-wrapper">
  <div class="ui three column stackable very relaxed grid container">
    <div class="column"><img src="../../../../assets/logo-text.svg" /></div>
    <div class="column">
      <div class="ui very relaxed divided list">
        <div class="item">
          <i class="material-icons">email</i>
          <div class="content">workit.235@gmail.com</div>
        </div>
        <div class="item">
          <i class="material-icons">phone</i>
          <div class="content">0728664018</div>
        </div>
        <div class="item">
          <i class="material-icons">location_on</i>
          <div class="content">
            Str. Teodor Mihali, Nr.58-60, 400591, Cluj Napoca, Romania
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <h2 class="header">Follow us on...</h2>
      <div class="social">
        <a
          target="_blank"
          href="https://www.facebook.com/Work-It-472297319966912/"
        >
          <i class="facebook f icon"></i>
        </a>
        <a target="_blank" href="https://twitter.com/WorkIt32447080/">
          <i class="twitter icon"></i>
        </a>
        <a target="_blank" href="https://www.instagram.com/sergiu_lz/">
          <i class="instagram icon"></i>
        </a>
      </div>
      <h2 class="header">Put your free time to good use!</h2>
    </div>
  </div>
  <div class="row">
    <agm-map
      [latitude]="latitude"
      [longitude]="longitude"
      [zoom]="15"
      class="map-widget"
    >
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
  </div>
</div>

<!-- <div class="content-wrapper">
  <div class="content">
    <div class="lower">
      <agm-map
        [latitude]="latitude"
        [longitude]="longitude"
        [zoom]="15"
        class="map-widget"
      >
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
    </div>

    <div class="upper">
      <div class="logo"><img src="../../../../assets/logo-text.svg" /></div>

      <div class="contact">
        <div class="info">
          <div>
            <i class="envelope huge icon"></i> <span>workit.235@gmail.com</span>
          </div>
          <div><i class="phone huge icon"></i> <span>0728664018</span></div>
          <div class="location-wrapper">
            <div><i class="map marker alternate huge icon"></i></div>
            <div class="location">
              <div>Str. Teodor Mihali, Nr.58-60</div>
              <div>400591, Cluj Napoca, Romania</div>
            </div>
          </div>
        </div>

        <div class="info social">
          <div class="text">Follow us on</div>
          <div class="widgets">
            <div>
              <a
                target="_blank"
                href="https://www.facebook.com/Work-It-472297319966912/"
              >
                <i class="facebook huge icon"></i>
              </a>
            </div>
            <div>
              <a target="_blank" href="https://twitter.com/WorkIt32447080/">
                <i class="twitter huge icon"></i>
              </a>
            </div>
            <div>
              <a target="_blank" href="https://www.instagram.com/sergiu_lz/">
                <i class="instagram huge icon"></i>
              </a>
            </div>
          </div>
          <div class="text">Put your free time to good use!</div>
        </div>
      </div>
    </div>
  </div>
</div> -->
