<!-- infinite-scroll
[infiniteScrollDistance]="scrollDistance"
[infiniteScrollThrottle]="throttle"
(scrolled)="onScrollDown()" -->
<div class="ui container">
  <main class="ui stackable relaxed grid">
    <div class="five wide column"><app-job-filters></app-job-filters></div>
    <div class="eleven wide column">
      <ng-container *ngIf="jobList && mappedTags && jobList.length !== 0; else empty">
        <ng-container *ngFor="let job of jobList">
          <app-job-view [job]="job" [mappedTags]="mappedTags"></app-job-view>
        </ng-container>
      </ng-container>
      <ng-template #empty>
        <app-empty-placeholder></app-empty-placeholder>
      </ng-template>
    </div>
  </main>
</div>
