@import 'semantic/src/themes/default/globals/site.variables';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Rubik:300,400,500,700,900');

@card-shadow : 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

@font-family : 'Lato';
@font-family-accent : 'Rubik' !important;

@light-color: whitesmoke;
@light-color-menu: rgba(34, 36, 38, 0.15);
@light-border: #dbdbdb;
@meta-color: rgba(0, 0, 0, 0.4);
@dark-color: #202020;
@primary-color : #169deb;
@primary-color-darken : darken(@primary-color, 10%);
@primary-color-buttons : #2185d0;
@primary-color-buttons-darken : #1678c2;
@warning-color : #d42e2e;

@logo-height: 40px;
@height-footer: 80px;
@height-top-menu: 80px;
@height-content: ~'calc(100vh - @{height-top-menu} - @{height-footer})';
@dashboard-breakpoint: 1280px;
