<form
  class="ui form container"
  [formGroup]="userProfileForm"
  (ngSubmit)="onSubmit()"
>
  <!-- Name -->
  <div
    class="field"
    [ngClass]="{
      error:
        isFormSubmitted &&
        (userProfileForm.controls.firstName.errors ||
          userProfileForm.controls.lastName.errors)
    }"
  >
    <label>Name / Company name *</label>
  </div>

  <div class="two fields">
    <!-- First name -->
    <div
      class="field"
      [ngClass]="{
        error: isFormSubmitted && userProfileForm.controls.firstName.errors
      }"
    >
      <input
        type="text"
        formControlName="firstName"
        id="firstNameCompany"
        placeholder="First Name / Company name"
      />
      <span
        class="error text"
        *ngIf="
          isFormSubmitted &&
          userProfileForm.controls.firstName.errors &&
          userProfileForm.controls.firstName.errors.required
        "
        >First name required.</span
      >
    </div>
    <!-- Last name -->
    <div
      class="field"
      [ngClass]="{
        error: isFormSubmitted && userProfileForm.controls.lastName.errors
      }"
    >
      <input
        type="text"
        formControlName="lastName"
        id="lastNameCompany"
        placeholder="Last Name"
      />
    </div>
  </div>

  <!-- Birth date -->
  <div
    class="field"
    [ngClass]="{
      error: isFormSubmitted && userProfileForm.controls.birthDate.errors
    }"
  >
    <label class="large">Birthdate *</label>
    <input
      type="date"
      formControlName="birthDate"
      id="birthDateCompany"
      placeholder="Birth date"
    />
    <span
      class="error text"
      *ngIf="
        isFormSubmitted &&
        userProfileForm.controls.birthDate.errors &&
        userProfileForm.controls.birthDate.errors.required
      "
      >Birthdate required.</span
    >
  </div>

  <!-- Company name -->
  <!-- <div
    class="field"
    [ngClass]="{
      error: isFormSubmitted && userProfileForm.controls.companyName.errors
    }"
  >
    <label class="large">Company name</label>
    <input
      type="text"
      formControlName="companyName"
      id="companyName"
      placeholder="Company name"
    />
    <span
      class="error text"
      *ngIf="
        isFormSubmitted &&
        userProfileForm.controls.companyName.errors &&
        userProfileForm.controls.companyName.errors.required
      "
      >Company name required.</span
    >
  </div> -->

  <!-- About company details -->
  <div
    class="field"
    [ngClass]="{
      error: isFormSubmitted && userProfileForm.controls.aboutCompany.errors
    }"
  >
    <label for="aboutCompany">About company *</label>
    <textarea
      formControlName="aboutCompany"
      maxlength="500"
      rows="5"
      id="aboutCompany"
    ></textarea>
    <span
      class="error text"
      *ngIf="
        isFormSubmitted &&
        userProfileForm.controls.aboutCompany.errors &&
        userProfileForm.controls.aboutCompany.errors.required
      "
      >About company required.
    </span>
  </div>

  <div class="field">* Field is required</div>

  <!-- Submit button -->
  <button class="ui submit button" id="submituserProfileForm">Submit</button>
</form>
